* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .title {

        width: 200px;
        height: 100px;
        font-size: 35px;
        text-align: center;
        letter-spacing: 1px;
        color: rgb(236, 140, 6);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow:
            -2px -2px 0 rgb(21, 21, 21),
            2px -2px 0 rgb(21, 21, 21),
            -2px 2px 0 rgb(21, 21, 21),
            2px 2px 0 rgb(21, 21, 21);

    }

    .button {
        border: solid brown;
        background-color: rgb(236, 140, 6);
        color: brown;
        font-size: 25px;
        width: 100%;
        max-width: 300px;
        height: 70px;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 13px 10px #ee991a;
        }
    }

    .phrase {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        box-shadow: 0px 13px 10px #ee991a;
        width: 100%;
        max-width: 600px;
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .textphrase {
            text-align: center;
            font-size: 25px;
            color:black;
            font-style: oblique;
            font-weight: bold;


        }
        .autor {
            color: #694105;
            font-size: medium;
        }
    }
}

@media screen and (min-width: 940px) {
    .container {
        display: flex;
        width: 100%;
        height: 100%;

        .title {

            width: 400px;
            height: 100px;
            font-size: 60px;
            margin: 10px;
        }
    }
}